<nav>
  <a href="" class="sm-show" onclick="return toggleMenu()"><i class="fas fa-bars"></i></a>
  <div class="main-menu">
    {% for item in site.data.nav %}
    <a href="{{ site.baseurl }}{{ item.link }}" {% if page.url==item.link %} class="current" {% endif %}>{{ item.name }}</a>
    {% endfor %}
  </div>
  <div class="social-links">
    {% for item in site.data.social %}
    <a href="{{ item.link }}" target="_blank"><i class="fab {{ item.symbol }}"></i></a>
    {% endfor %}
  </div>
  <script>
    function toggleMenu() {
      var header = document.getElementById("site-header");
      header.classList.toggle("open");
      console.log("Toggling menu")
      return false;
    }
  </script>
</nav>
