$site-header-height: 50px;

#site-header {
  height: $site-header-height;
  font-family: 'Karla', sans-serif;
  background: $site-header-background;
  overflow: hidden;
}

#site-header.open {
  height: 100%;
}
@media only screen and (min-width: 768px) {
  #site-header {
    height: $site-header-height + 20px;
  }
}
