---
---
@import "normalize";
@import url("https://use.fontawesome.com/releases/v5.7.1/css/all.css");
@import "colors";
@import "header";
@import "footer";
@import "nav";
@import url('https://fonts.googleapis.com/css?family=Karla:400,700|Roboto:300');

body {
  font-size: 16px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

.wrapper {
  margin: 0 auto;
  height: 100%;
}

.sm-hide {
  display: block;
}

@media only screen and (min-width: 768px) {
  body {
    font-size: 18px;
  }

  .wrapper {
    max-width: 1024px;
  }

  .sm-hide {
    display: none;
  }
}
